@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171717;
}

.fp-watermark {
  display: none !important;
}

.fp-table {
  justify-content: flex-start !important;
}

.fp-overflow {
  height: inherit !important;
}

#fp-nav.fp-right {
  height: 500px !important;
  right: 30px !important;
}

#fp-nav.fp-right ul {
  height: 500px !important;
}

#fp-nav.fp-right ul li {
  margin: 0 !important;
  width: 2px !important;
  height: 15% !important;
  background-color: #282828;
}

#fp-nav ul li a.active {
  background-color: #ffffff !important;
}

#fp-nav ul li a span:last-child {
  display: none !important;
}

#fp-nav ul li a span {
  background-color: #282828 !important;
}

@media only screen and (max-width: 600px) {
  #fp-nav.fp-right {
    right: 10px !important;
  }
  #fp-nav.fp-right ul {
    height: 400px !important;
  }
}
